/*
 * @Author: qdlaoxu 
 * @Date: 2021-07-28 11:24:34 
 * @Last Modified by: qdlaoxu
 * @Last Modified time: 2021-12-03 09:32:19
 */

/* 变量 */
$color-logo: #ff6600; //主题色
$color-title: #333; //标题色
$color-content: #666; //内容色
$color-info: #999; //信息提示
$color-line: #eaeaea; //分割线
$color-name:#262626;//常用颜色
$bg-color:#F7F7F7;//背景颜色
$bg-white:#fff;//白色背景

// 字体
$font-pfs: "PingFangSC-Semibold, PingFang SC";
$font-pfm: "PingFangSC-Medium, PingFang SC";

//阴影
$box-shadow-logo: 0px 4px 14px 0px rgba(0, 0, 0, 0.14);
